body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(./image/1000_F_342834348_9j99Kp15x1wZdT1oShTUXiurVWWDTiDT.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 10;
   }